@import 'tailwindcss';


:root {
    --primary: rgb(255, 145, 200);
    --secondary: rgb(255, 179, 217);
    --dark: rgb(39, 4, 15);
    --poppy: cubic-bezier(.11, 1.22, .91, 1.18);
}

@font-face {
    font-family: 'Bohemian Soul';
    src: url('/BohemianSoul.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/Arial\ Nova.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.textGlow {
    text-shadow: 0 0 7px color-mix(in srgb, var(--primary) 40%, transparent), 0 0 25px color-mix(in srgb, var(--primary) 20%, transparent);
}


.titlebar {
    font-family: 'Arial Nova', sans-serif;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;

}

.instagram {
    fill: var(--primary);
    stroke: black;
    overflow: visible;
    transition: all 0.3s cubic-bezier(.11, 1.22, .91, 1.18);
}

.instagram:hover {
    fill: white;
    stroke: var(--primary);
    box-shadow: 0 0 10px var(--primary);

}

.instagram:active {
    fill: var(--primary);
    stroke: white;
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
    transition-duration: 0.2s;

}

.titleButton {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.125rem 0.75rem;
    transition: all 0.3s cubic-bezier(.11, 1.22, .91, 1.18);

}

.newsBox {
    transform: translateY(0px);
    animation: scrollNews 22s var(--poppy) infinite;
}

@keyframes scrollNews {
    0% {
        transform: translateY(-0%);
    }

    12.5% {
        transform: translateY(-0%);
    }

    16.6667% {
        transform: translateY(-16.6667%);
    }

    29.1667% {
        transform: translateY(-16.6667%);
    }

    33.3333% {
        transform: translateY(-33.3333%);
    }

    45.8333% {
        transform: translateY(-33.3333%);
    }

    50% {
        transform: translateY(-50%);
    }

    62.5% {
        transform: translateY(-50%);
    }

    66.6667% {
        transform: translateY(-66.6667%);
    }

    79.1667% {
        transform: translateY(-66.6667%);
    }

    83.3333% {
        transform: translateY(-83.3333%);
    }

    95.8333% {
        transform: translateY(-83.3333%);
        animation-timing-function: cubic-bezier(.11, 1.1, .91, 1);
    }

    100% {
        transform: translateY(0%);
    }
}

.titleButton:hover {
    color: var(--primary);
    -webkit-text-stroke: 4px white;
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
    padding: 0.125rem 1.1rem;
}

.titleButton:active {
    color: var(--primary);
    -webkit-text-stroke: 4px var(--primary);
    background-color: white;
    padding: 0.155rem 1.25rem;

    transition-duration: 0.2s;
}

.newsText {
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%);
    mask-mode: luminance;
}

.newsTextFlip {
    mask-mode: luminance;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

/*Stolen from uigalaxy.net*/


.vexBrick {
    width: 100%;
    max-width: 500px;
    height: 75px;
    background-image: linear-gradient(90deg, color-mix(in srgb, var(--primary) 50%, transparent) 0%, color-mix(in srgb, var(--primary) 100%, var(--secondary) 100%) 25%, color-mix(in srgb, var(--primary) 100%, var(--secondary) 100%) 75%, color-mix(in srgb, var(--secondary) 50%, transparent) 100%);
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vexBrickText,
.vexBrickTextStroke {
    text-align: center;
    color: transparent;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(-180deg, var(--primary), var(--secondary) 100%);
    background-clip: text;
    transform: scaleY(104%);
    margin: 0;
    z-index: 2;
    line-height: 45px;

}

.vexBrickTextStroke {
    position: absolute;
    background-image: none;
    -webkit-text-stroke: 9px black;
    z-index: 1;
    paint-order: stroke fill;
    margin-top: -19px;
}

.vexShowWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: auto;
}

.vexLocation {
    margin: 0;
    color: var(--primary);

    -webkit-text-stroke: color-mix(var(--primary) 0%, rgb(0, 0, 0)) 5px;
    paint-order: stroke fill;
    font-size: 16px;
    font-style: italic;
    width: 100%;
    text-align: center;

}

.vexNonImportant {
    margin-top: 7px;
    color: white;

    font-size: 16px;
    padding-left: 5px;
    text-shadow: 0 0 7px color-mix(in srgb, var(--primary) 80%, transparent), 0 0 25px color-mix(in srgb, var(--primary) 40%, transparent);
}

.vexNonPlaces {
    font-style: italic;
    ;
    font-size: 16px;
    line-height: 1.5;
}

.vexQualWrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.vexQualBox {
    width: 48%;
    max-width: 150px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: linear-gradient(-180deg, var(--primary), var(--secondary));
}

.vexQualBoxNot {
    width: 48%;
    max-width: 150px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(170, 170, 170);
    filter: grayscale(30%) saturate(50%);
    background-image: linear-gradient(-180deg, color-mix(in srgb, var(--primary) 20%, transparent), color-mix(in srgb, var(--secondary) 20%, transparent));
}

.vexQualType {
    font-size: 26px;
    margin: 0;
    line-height: 22px;
}

.vexQualled {
    font-size: 12px;
    ;
    margin: 0;
    font-style: italic;
}

.olderSeasonsButton {
    width: 100%;
    margin-top: 25px;
    display: flex;
    background-color: rgb(9, 9, 15, 0);
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--primary);
    padding: 6px;
    margin-left: 0px;
    transition: all 0.44s cubic-bezier(0, .77, .37, 1.18);
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

@media (max-width: 740px) {
    .buttons {
        gap: 5px;
    }
}
@media (max-width: 640px) {
    .buttons {
        font-size: 1.25rem;
    }
}
@media (max-width: 580px) {
    .buttons {
        visibility: hidden;
        pointer-events: none;
        width: 0px;
    }
    .hudFlex {
        padding: 0;
        padding-bottom: 14px;
        align-items: center;
        justify-content: center;
    }
    .titlebar {
        margin-right: 20px;
        margin-top: -10px;
    }
}